.tabs-md .tabbar {
    background-color: color($colors, toolight);
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after {
    height: 0px;
}

.footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    height: 2px;
}

.toolbar-background-md {
    background-color: color($colors, toolight);
}

.toolbar-title-md {
    color: color($colors, primary);
}