// Auto generated style doc 
ion-icon { 
&[class*=svnicon-]{mask-size:contain;mask-position:50;mask-repeat:no-repeat;background:currentColor;width:1em;height:1em} 
&[class*=svnicon-add-event]{mask-image:url(../assets/imgs/icons/add-event.svg)} 
&[class*=svnicon-addphoto]{mask-image:url(../assets/imgs/icons/addphoto.svg)} 
&[class*=svnicon-address]{mask-image:url(../assets/imgs/icons/address.svg)} 
&[class*=svnicon-addressline]{mask-image:url(../assets/imgs/icons/addressline.svg)} 
&[class*=svnicon-advertisements]{mask-image:url(../assets/imgs/icons/advertisements.svg)} 
&[class*=svnicon-alarmclock]{mask-image:url(../assets/imgs/icons/alarmclock.svg)} 
&[class*=svnicon-article]{mask-image:url(../assets/imgs/icons/article.svg)} 
&[class*=svnicon-articles]{mask-image:url(../assets/imgs/icons/articles.svg)} 
&[class*=svnicon-avatar]{mask-image:url(../assets/imgs/icons/avatar.svg)} 
&[class*=svnicon-brahmin]{mask-image:url(../assets/imgs/icons/brahmin.svg)} 
&[class*=svnicon-call]{mask-image:url(../assets/imgs/icons/call.svg)} 
&[class*=svnicon-center]{mask-image:url(../assets/imgs/icons/center.svg)} 
&[class*=svnicon-clock]{mask-image:url(../assets/imgs/icons/clock.svg)} 
&[class*=svnicon-cloud-off]{mask-image:url(../assets/imgs/icons/cloud-off.svg)} 
&[class*=svnicon-coloraddress]{mask-image:url(../assets/imgs/icons/coloraddress.svg)} 
&[class*=svnicon-cook]{mask-image:url(../assets/imgs/icons/cook.svg)} 
&[class*=svnicon-date]{mask-image:url(../assets/imgs/icons/date.svg)} 
&[class*=svnicon-datetime]{mask-image:url(../assets/imgs/icons/datetime.svg)} 
&[class*=svnicon-delete]{mask-image:url(../assets/imgs/icons/delete.svg)} 
&[class*=svnicon-details]{mask-image:url(../assets/imgs/icons/details.svg)} 
&[class*=svnicon-direction]{mask-image:url(../assets/imgs/icons/direction.svg)} 
&[class*=svnicon-event-star]{mask-image:url(../assets/imgs/icons/event-star.svg)} 
&[class*=svnicon-events]{mask-image:url(../assets/imgs/icons/events.svg)} 
&[class*=svnicon-fullgas]{mask-image:url(../assets/imgs/icons/fullgas.svg)} 
&[class*=svnicon-funds]{mask-image:url(../assets/imgs/icons/funds.svg)} 
&[class*=svnicon-gallery]{mask-image:url(../assets/imgs/icons/gallery.svg)} 
&[class*=svnicon-gallery1]{mask-image:url(../assets/imgs/icons/gallery1.svg)} 
&[class*=svnicon-gas]{mask-image:url(../assets/imgs/icons/gas.svg)} 
&[class*=svnicon-gender]{mask-image:url(../assets/imgs/icons/gender.svg)} 
&[class*=svnicon-googlemaps]{mask-image:url(../assets/imgs/icons/googlemaps.svg)} 
&[class*=svnicon-group]{mask-image:url(../assets/imgs/icons/group.svg)} 
&[class*=svnicon-handshake]{mask-image:url(../assets/imgs/icons/handshake.svg)} 
&[class*=svnicon-house]{mask-image:url(../assets/imgs/icons/house.svg)} 
&[class*=svnicon-landline]{mask-image:url(../assets/imgs/icons/landline.svg)} 
&[class*=svnicon-lodge]{mask-image:url(../assets/imgs/icons/lodge.svg)} 
&[class*=svnicon-mail]{mask-image:url(../assets/imgs/icons/mail.svg)} 
&[class*=svnicon-milk]{mask-image:url(../assets/imgs/icons/milk.svg)} 
&[class*=svnicon-moon]{mask-image:url(../assets/imgs/icons/moon.svg)} 
&[class*=svnicon-moon1]{mask-image:url(../assets/imgs/icons/moon1.svg)} 
&[class*=svnicon-newspaper]{mask-image:url(../assets/imgs/icons/newspaper.svg)} 
&[class*=svnicon-pin]{mask-image:url(../assets/imgs/icons/pin.svg)} 
&[class*=svnicon-placeholder]{mask-image:url(../assets/imgs/icons/placeholder.svg)} 
&[class*=svnicon-postoffice]{mask-image:url(../assets/imgs/icons/postoffice.svg)} 
&[class*=svnicon-review]{mask-image:url(../assets/imgs/icons/review.svg)} 
&[class*=svnicon-rice]{mask-image:url(../assets/imgs/icons/rice.svg)} 
&[class*=svnicon-roads]{mask-image:url(../assets/imgs/icons/roads.svg)} 
&[class*=svnicon-rupee]{mask-image:url(../assets/imgs/icons/rupee.svg)} 
&[class*=svnicon-share]{mask-image:url(../assets/imgs/icons/share.svg)} 
&[class*=svnicon-sun]{mask-image:url(../assets/imgs/icons/sun.svg)} 
&[class*=svnicon-sun1]{mask-image:url(../assets/imgs/icons/sun1.svg)} 
&[class*=svnicon-supplyfree]{mask-image:url(../assets/imgs/icons/supplyfree.svg)} 
&[class*=svnicon-temple]{mask-image:url(../assets/imgs/icons/temple.svg)} 
&[class*=svnicon-time]{mask-image:url(../assets/imgs/icons/time.svg)} 
&[class*=svnicon-transfer]{mask-image:url(../assets/imgs/icons/transfer.svg)} 
&[class*=svnicon-upload]{mask-image:url(../assets/imgs/icons/upload.svg)} 
&[class*=svnicon-veg]{mask-image:url(../assets/imgs/icons/veg.svg)} 
} 
