@keyframes fivePhasesFadeIn {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0.7;
    }
    60% {
        opacity: 0.7;
      }
    100% {
      opacity: 0;
    }
  }

.error-message {
    .toast-wrapper { 
        border-radius: 50px !important; 
        text-align: center; 
        background: color($colors, danger);
        opacity: 0;
        margin-bottom: 100px;
        width: 80%;
        animation-name: fivePhasesFadeIn;
        animation-duration: 5s;
        word-wrap: break-word;
    }
}

.info-message {
    .toast-wrapper { 
        border-radius: 50px !important; 
        text-align: center; 
        background: color($colors, primary);
        opacity: 0;
        margin-bottom: 100px;
        width: 80%;
        animation-name: fivePhasesFadeIn;
        animation-duration: 5s;
        word-wrap: break-word;
    }    
}

.toast-md .toast-message {
  word-wrap: break-word !important;
  white-space: pre-line !important;
}