page-login {
	.background {
		background-color: color($colors, toolight);
	}
	.login-info {
		ion-card.card {
			box-shadow: none;
			background: color($colors, light);
			border-radius: 5px;
			border-style: solid;
			border-width: 1px;
			border-color: color($colors, primary);
			max-width: 400px;
		}
		@media (min-width: 600px) {
			ion-card.card {
				margin-left: calc((100% - 400px) / 2);
				margin-right: calc((100% - 400px) / 2);
			}
		}
		.item {
			margin-bottom: 10px;
			// background: rgba(255, 255, 255, 0.5);
			background: color($colors, light);
			border: medium none;
			color: color($colors, dark);
		}
		.button-md {
			text-transform: none;
		}
		ion-card {
			height: auto;
		}
		.icon {
			padding-right: 10px;
		}
	}
	.card-background-page {
		ion-card {
			position: relative;
			text-align: center;
			max-width: 400px;
			box-shadow: none;
		}
		.card-title {
			position: absolute;
			top: 36%;
			font-size: 2.0em;
			width: 100%;
			font-weight: bold;
			color: #fff;
		}
		.card-subtitle {
			font-size: 1.0em;
			position: absolute;
			top: 52%;
			width: 100%;
			color: #fff;
		}
		@media (min-width: 600px) {
			ion-card.card {
				margin-left: calc((100% - 400px) / 2);
				margin-right: calc((100% - 400px) / 2);
			}
		}
	}
	.scroll-content {
		align-content: center!important;
		display: flex;
		flex-direction: column;
		justify-content: center!important;
		text-align: center;
		// max-width: 400px;
		margin: auto;
		vertical-align: middle;
	}
	::-webkit-scrollbar {
		display: none;
	}
	#title-test {
		font-size: 24px;
	}
	.non-title-text {
		font-size: 16px;
	}
}