<!-- <ion-content padding>
  <ion-list>
    <ion-item> Please login
      <br/>with your google account</ion-item>
  </ion-list>
  <ion-list>
      <button ion-button (tap)="googleLogin()" color="danger">Login with Google</button>
  </ion-list>
</ion-content> -->

<ion-content padding class="background">
  <div class="card-background-page">
    <ion-card>
      <img src="assets/imgs/login/1.png" />
    </ion-card>
  </div>
  <br/><br/>
  <p>
    <span class="non-title-text">Welcome to</span><br/> <span id="title-test">Sri Vaikhanasa Network</span>
  </p>
  <br/>
  <p>
    <span class="non-title-text">By using this app you agree to our<br/><a href="http://htmlpreview.github.io/?https://raw.githubusercontent.com/SriVaikhanasaNetwork/SriVaikhanasaNetwork/master/resources/terms_and_conditions.html">Terms
        of Use</a> and <a href="http://htmlpreview.github.io/?https://raw.githubusercontent.com/SriVaikhanasaNetwork/SriVaikhanasaNetwork/master/resources/privacy_policy.html">Privacy
        Policy
      </a></span>
  </p>
  <div class="login-info">
    <ion-card>
      <ion-card-content>
        <ion-list no-line>
          <ion-item>
            Please continue to login
            <br/> with your phone number
          </ion-item>
          <!-- <button ion-button icon-start color="danger" (tap)="googleLogin()">
            <ion-icon name="logo-google"></ion-icon>
            Login
          </button> -->
          <button ion-button icon-start color="danger" (tap)="phoneLogin()">
            <ion-icon name="md-arrow-forward"></ion-icon>Continue&nbsp;
          </button>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>