<ion-toolbar>
    <ion-buttons>
        <button ion-button color="dark" (tap)="goBack()">
            <ion-icon name="close"></ion-icon>&nbsp; Cancel
        </button>
    </ion-buttons>
    <ion-buttons end>
        <button ion-button color="primary" (tap)="save()">
            <ion-icon name="done-all"></ion-icon>&nbsp; Save
        </button>
    </ion-buttons>
</ion-toolbar>

<ion-list>
    <ion-row>
        <ion-col col-12>
            <ion-item no-lines>
                <ion-label color="primary">Same timings for all days</ion-label>
                <ion-toggle [(ngModel)]="sameForAllDays"></ion-toggle>
            </ion-item>
        </ion-col>
    </ion-row>
    <ng-container>
        <ng-container *ngFor="let w of weekdays; let i = index">
            <ion-row>
                <ion-col col-3>
                    <ion-item no-lines>
                        <ion-label [ngClass]="isLabelDisabled(i)">{{ w }}</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col col-5 class="b-border">
                    <ion-item no-lines>
                        <button ion-button clear color="dark" item-left>
                            <ion-icon name="svnicon-sun" color="golden"> </ion-icon>
                        </button>
                        <ion-datetime placeholder="Open" displayFormat="hh:mm a" pickerFormat="hh:mm a" [disabled]="isDisabled(i)" [(ngModel)]="this.data[w + '_morning_open']"
                            (ngModelChange)="onTimeChange()"></ion-datetime>
                    </ion-item>
                </ion-col>
                <ion-col col-4 class="b-border">
                    <ion-item no-lines>
                        <!-- <button ion-button clear color="dark" item-left>
                                    <ion-icon name="svnicon-sun" color="golden"> </ion-icon>
                                </button> -->
                        <ion-datetime placeholder="Close" displayFormat="hh:mm a" pickerFormat="hh:mm a" [disabled]="isDisabled(i)" [(ngModel)]="this.data[w + '_morning_close']"
                            (ngModelChange)="onTimeChange()"></ion-datetime>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3 class="b-border">

                </ion-col>
                <ion-col col-5 class="b-border">
                    <ion-item no-lines>
                        <button ion-button clear color="dark" item-left>
                            <ion-icon name="svnicon-moon" color="moon"> </ion-icon>
                        </button>
                        <ion-datetime placeholder="Open" displayFormat="hh:mm a" pickerFormat="hh:mm a" [disabled]="isDisabled(i)" [(ngModel)]="this.data[w + '_evening_open']"
                            (ngModelChange)="onTimeChange()"></ion-datetime>
                    </ion-item>
                </ion-col>
                <ion-col col-4 class="b-border">
                    <ion-item no-lines>
                        <!-- <button ion-button clear color="dark" item-left>
                                    <ion-icon name="svnicon-moon" color="moon"> </ion-icon>
                                </button> -->
                        <ion-datetime placeholder="Close" displayFormat="hh:mm a" pickerFormat="hh:mm a" [disabled]="isDisabled(i)" [(ngModel)]="this.data[w + '_evening_close']"
                            (ngModelChange)="onTimeChange()"></ion-datetime>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ng-container>
    </ng-container>
</ion-list>