edit-open-timings {
    .item-md{
        font-size: 1.0rem;
    }
    .item-block {
        min-height: 1.4rem;
    }
    .item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end] {
        margin: 0px;
        padding: 0px;
    }
    .weekday {
        font-size: 1.5rem;
        color: color($colors, darkgrn);
    }
    .weekday-disabled {
        font-size: 1.5rem;
        color: color($colors, toolightdark);
    }
    .b-border {
        border-bottom: 1px solid color($colors, ioniclines)
    }
}
