<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button clear icon-only (tap)="goBack()">
        <ion-icon name="ios-arrow-back" color="primary"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ pageConfig.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="posts else loading">
    <temple-list [posts]="posts" *ngIf="pageConfig.id == 'temples'"></temple-list>
    <archaka-post-list [posts]="posts" *ngIf="pageConfig.id == 'archaka_posts'"></archaka-post-list>
  </ng-container>

  <ng-template #loading>
    <sk-circle-spinner></sk-circle-spinner>
  </ng-template>

  <ion-fab right bottom>
    <button ion-fab mini color="primary" (click)="addNewPost()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>