<!-- <ion-header>

    <ion-navbar>
        <ion-title>Sri Vaikhanasa Network</ion-title>
    </ion-navbar>

</ion-header> -->

<ion-tabs #rootPageTabs tabsPlacement="bottom" tabsLayout="icon-top" tabsHighlight="false" selectedIndex="0">
    <ion-tab [root]="'HomePage'" tabTitle="Home" tabIcon="home"></ion-tab>
    <ion-tab [root]="'ServicesPage'" tabTitle="Services" tabIcon="apps"></ion-tab>
    <ion-tab [root]="'InboxPage'" tabTitle="Inbox" tabIcon="mail"></ion-tab>
    <ion-tab [root]="'MyProfilePage'" tabTitle="Profile" tabIcon="person"></ion-tab>
    <ion-tab [root]="'SettingsPage'" tabTitle="Settings" tabIcon="settings"></ion-tab>
</ion-tabs>