<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button clear icon-only (tap)="goBack()">
        <ion-icon name="ios-arrow-back" color="primary"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Services</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="services else loading">
    <ion-list>
      <ng-container *ngFor="let service of services">
        <ion-item-group *ngIf="(service.options && service.options.length > 0); else standAloneService" class="groupdivider">
          <ion-item-divider color="toolight" class="groupheader group">
            <ion-icon [name]="service.icon" item-start></ion-icon> {{ service.title }}
          </ion-item-divider>
          <button ion-item *ngFor="let option of service.options" (click)="onServiceClick(option)" class="option">
            <ion-icon *ngIf="option.icon" [name]="option.icon" color="primary" item-start></ion-icon>
            <ion-avatar *ngIf="option.avatar" item-start>
              <img [src]="option.avatar">
            </ion-avatar>
            <ion-label>{{ option.title }}</ion-label>
          </button>
        </ion-item-group>

        <ng-template #standAloneService>
          <button ion-item (click)="onServiceClick(service)" class="group groupdivider">
            <ion-icon [name]="service.icon" item-start></ion-icon>
            {{ service.title }}
          </button>
        </ng-template>

      </ng-container>
    </ion-list>
  </div>

  <ng-template #loading>
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </ng-template>

</ion-content>