<ion-card>
    <cover-photo-slides [slides]="slides"></cover-photo-slides>
    <ion-card-content>
        <ion-card-title color="light_primary">
            {{ post.name }}
        </ion-card-title>
        <ion-list>
            <ion-item>
                <ion-icon name="svnicon-funds" color="light_primary" item-start></ion-icon>
                <h2>Monthly Salary</h2>
                <p>{{ post.salary | currency:'INR' }}</p>
            </ion-item>
            <ion-item>
                <ion-icon name="svnicon-avatar" color="light_primary" item-start></ion-icon>
                <h2>Contact Person</h2>
                <p>{{ post.person }}</p>
            </ion-item>
            <ion-item (tap)="call(post.phone)">
                <ion-icon name="svnicon-call" color="light_primary" item-start></ion-icon>
                <h2>Mobile</h2>
                <p>{{ post?.phone }}</p>
            </ion-item>
            <ion-item>
                <ion-icon name="svnicon-address" color="light_primary" item-start></ion-icon>
                <h2>Address</h2>
                <p>{{ getPostOfficeDetails() }}</p>
            </ion-item>
            <ion-item>
                <ion-icon name="svnicon-supplyfree" color="light_primary" item-start></ion-icon>
                <h2>We provide</h2>
                <ion-row class="color-icons-row">
                    <ng-container *ngFor="let addon of post.additionals" [ngSwitch]="addon">
                        <ion-col *ngSwitchCase="'Accommodation'"><img src="assets/imgs/icons/house.svg" height="30px" /></ion-col>
                        <ion-col *ngSwitchCase="'Rice'"><img src="assets/imgs/icons/rice.svg" height="30px" /></ion-col>
                        <ion-col *ngSwitchCase="'LPG Gas'"><img src="assets/imgs/icons/fullgas.svg" height="30px" /></ion-col>
                        <ion-col *ngSwitchCase="'Vegetables'"><img src="assets/imgs/icons/veg.svg" height="30px" /></ion-col>
                        <ion-col *ngSwitchCase="'Milk'"><img src="assets/imgs/icons/milk.svg" height="30px" /></ion-col>
                    </ng-container>
                </ion-row>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>
<owner [post]="post" [panel]="'D'"></owner>