archaka-post-detailed-card {
      .card-md {
        width: 100%;
        margin: 0px;
        height: auto;
        border-radius: 0px;
        -webkit-box-shadow: 0 2px 2px 0 transparent, 0 3px 1px -2px transparent, 0 1px 5px 0 transparent;
        box-shadow: 0 2px 2px 0 transparent, 0 3px 1px -2px transparent, 0 1px 5px 0 transparent;   
        // background-color: color($colors, lightrose);
      }
      ion-label {
        white-space: normal;
      }

      .label-md {
        margin-bottom: 7px;
        margin-top: 7px;
      }

      .card-title-md {
        font-size: 1.7rem;
      }

      .card-md h2 {
        font-size: 1.3rem;
        color: color($colors, toolightdark)
      }
      .item-md {
        background-color: transparent;
      }
      .highlighter {
        background-color: lightyellow;
      }
      
}
