<ng-container *ngIf="(slides && slides.length > 1); else noSlider">
  <ion-slides pager="true" loop="true" id="cover" slidesPerView=1 autoplay="3000" loop="true" style="height: 200px;">
    <ion-slide style="height: 200px;" *ngFor="let slide of slides">
      <img [src]="slide" (tap)="zoom(slide)" />
    </ion-slide>
  </ion-slides>  
</ng-container>
<ng-template #noSlider>
  <ion-slides pager="false" loop="false" style="height: 200px;">
    <ion-slide style="height: 200px;" *ngFor="let slide of slides">
      <img [src]="slide" (tap)="zoom(slide)" />
    </ion-slide>
  </ion-slides>
</ng-template>