<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button clear icon-only (tap)="goBack()">
        <ion-icon name="ios-arrow-back" color="primary"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ formConfig.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="controls else loading">
    {{ formConfig.subtitle }}<br/><br/>
    <dynamic-form [controls]="controls" [form]="form"></dynamic-form>
  </div>

  <ng-template #loading>
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </ng-template>

</ion-content>

<ion-footer *ngIf="controls">
  <ion-toolbar>
    <ion-buttons>
      <button ion-button color="dark" (tap)="goBack()">
        <ion-icon name="close"></ion-icon>&nbsp; Cancel
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button color="primary" (tap)="submitForm($event)">
        <ion-icon name="done-all"></ion-icon>&nbsp; Post
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>