<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button clear icon-only (tap)="goBack()">
        <ion-icon name="ios-arrow-back" color="primary"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="(user | async) || {} as user">
  <div class="profilepic-outer-container">
    <div class="profilepic-inner-container">
      <img class="profilepic" [src]="userProfile.photoURL | userProfilePic" (tap)="zoom(userProfile.photoURL)"
      />
      <ion-icon name="camera" (click)="changePicture()" class="profilepicchangeicon"></ion-icon>
    </div>
  </div>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-icon name="svnicon-avatar" color="light_primary" item-start></ion-icon>
        <!-- <h2>Name</h2> -->
        <h2>{{ userProfile?.name ? userProfile.name : "Not Available" }}</h2>
        <p>{{ userProfile?.surname ? userProfile.surname : "Not Available" }} ({{ userProfile?.gothram ? userProfile.gothram
          : "Not Available" }})</p>
        <p>{{ userProfile?.gender ? userProfile.gender : "Not Available" }}</p>
      </ion-item>
      <ion-item>
        <ion-icon name="svnicon-date" color="light_primary" item-start></ion-icon>
        <h2>Date of Birth</h2>
        <p>{{ userProfile?.dob ? userProfile.dob : "Not Available" }}</p>
      </ion-item>
      <ion-item>
        <ion-icon name="svnicon-mail" color="danger" item-start></ion-icon>
        <h2>Email</h2>
        <p>{{ userProfile?.email ? userProfile.email : "Not Available" }}</p>
      </ion-item>
      <ion-item (tap)="callMobile()">
        <ion-icon name="svnicon-call" color="secondary" item-start></ion-icon>
        <h2>Mobile</h2>
        <p>{{ userProfile?.phoneNumber ? userProfile.phoneNumber : "Not Available" }}</p>
      </ion-item>
      <ion-item>
        <ion-icon name="svnicon-address" color="light_primary" item-start></ion-icon>
        <h2>Address</h2>
        <p>{{ getPostOfficeDetails() ? getPostOfficeDetails() : 'Not Available' }}</p>
      </ion-item>
      <ion-item>
        <button ion-button clear icon-left (tap)="signOut()" color="danger">
          <ion-icon name="exit"></ion-icon>
          Logout
        </button>
        <button ion-button outline item-end color="toolightdark" (tap)="editProfile()">
          <ion-icon name="create"></ion-icon>&nbsp; Edit
        </button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>