page-my-profile {
	.content {
		background-color: color($colors, toolight, base) !important;
	}
	.profilepic {
		border-radius: 4px;
		width: 160px;
		height: 160px;
		border: 1px solid color($colors, toolight, base);
		object-fit: cover;
	}
	.profilepicchangeicon {
		color:white;
		position: absolute;
		right: 10px;
		top: 5px;
		font-size: 1.5em;
		text-shadow: #000 1px 0 10px;
	}
	.profilepic-outer-container {
		display: table;
		width: 100%;
		height: 40%;
		background-color: color($colors, primary, base);
		text-align: center;
		// -webkit-filter: blur(10px); /* Safari */
		// 	filter: blur(10px);
		// 	object-fit: cover;
	}
	.profilepic-inner-container {
		display: table-cell;
		vertical-align: middle;
	}
	.card-md {
		width: 100%;
		margin: 0px;
	}
	ion-card {
		display: inline;
	}
	.toolbar-background {
		background-color: color($colors, toolight, base);
	}
	.toolbar-title-md {
		color: color($colors, primary, base);;
	}

	.swiper-slide {
        height: auto;
        align-items: flex-start;
	}
	
	ion-label {
		white-space: normal;
	}
}