<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button clear icon-only (tap)="goBack()">
        <ion-icon name="ios-arrow-back" color="primary"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Inbox</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <super-tabs selectedTabIndex="0" toolbarColor="dark" toolbarBackground="toolight" indicatorColor="dark" scrollTabs="true"
    tabsPlacement="top">
    <super-tab [root]="'MessagesPage'" title="Messages"></super-tab>
    <super-tab [root]="'NotificationsPage'" title="Notifications"></super-tab>
  </super-tabs>
</ion-content>