<ion-header>

  <ion-navbar>
    <ion-title>श्री विखनस महा गुरवे नमः</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <!-- <ion-slides pager="true" loop="true" id="cover" slidesPerView=1 autoplay="3000" loop="true" style="height: 200px;">
    <ion-slide style="height: 200px;" *ngFor="let slide of slides">
      <img [src]="DomSanitizer.bypassSecurityTrustUrl(slide)" />
    </ion-slide>
  </ion-slides>

  <div class="marq">
    <hr>
    <p class="marquee">This app is currently available in english only. Soon, we will enhance it to support multiple languages...</p>
    <hr>
  </div> -->
  <button ion-button (click)="upload()">Upload</button>
  <button ion-button (click)="network()">Network</button>
  <!-- <calendar [parent]="temple"></calendar> -->
  <!-- <gallery [parent]="temple"></gallery> -->
  <!-- <google-maps [latitude]="13.741967" [longitude]="79.339159"></google-maps> -->
</ion-content>