page-home {
    .toolbar-background {
		background-color: color($colors, toolight);
	}
	.toolbar-title-md {
		color: color($colors, primary);
		text-align: center;
	}

.marq {
	background-color: beige;
}

	/* Make it a marquee */
.marquee {	
	width: auto;
	margin: 0 auto;
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;
	animation: marquee 50s linear infinite;
}

.marquee:hover {
animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
	0%   { text-indent: 30em }
	100% { text-indent: -105em }
}
}
