owner {
    .highlighter {
        background-color: lightyellow;
      }
      .postedOn {
        font-size: 1.0rem;
        color: color($colors, toolightdark)
      }
      h2 {
        font-size: 1.3rem;
        color: color($colors, toolightdark)
      }
      .my-button {
        padding: 0px;
      }

      .button-md {
        font-size: 1.2rem;
      }
      .row {
        height: 40px !important;
      }
      .col {
        padding: 0px;
      }

      .forecast_container{
        overflow-x: scroll!important;
        overflow-y: hidden;
        word-wrap: break-word;
        height:20vw;
        font-size:0.8em;
        font-weight:300;
}
.profilepic {
  border-radius: 4px;
  width: 160px;
  height: 160px;
  border: 1px solid color($colors, toolight, base);
  object-fit: cover;
}
}
