<ion-item no-lines *ngIf="post.createdby | doc | async as user" class="highlighter">
  <ion-thumbnail item-start>
    <img class="profilepic" [src]="user.photoURL | userProfilePic">
  </ion-thumbnail>
  <p>{{ user.name }}</p>
  <p class="postedOn">{{ post.createdAt | ts2date | date: 'MMM dd, yyyy hh:mm a' }}</p>
  <ng-container *ngIf="panel">
    <ion-row nowrap class="forecast_container">
      <ion-col col-3 *ngIf="isAllowed('E')"><button ion-button clear icon-start color="darkgrn" class="my-button"><ion-icon
            name="create"></ion-icon>&nbsp;Edit</button></ion-col>
      <ion-col col-5 *ngIf="isAllowed('T')"><button ion-button clear icon-start color="light_primary" class="my-button"><ion-icon
            name="svnicon-transfer"></ion-icon>&nbsp;Transfer</button></ion-col>
      <ion-col col-4 *ngIf="isAllowed('D')"><button ion-button clear icon-start color="danger" class="my-button"><ion-icon
            name="svnicon-delete"></ion-icon>&nbsp;Delete</button></ion-col>      
    </ion-row>
  </ng-container>
</ion-item>