<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button clear icon-only (tap)="goBack()">
        <ion-icon name="ios-arrow-back" color="primary"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'Settings' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-group>
      <ion-item>
        <ion-label>{{ 'Language' | translate }}</ion-label>
        <ion-select [(ngModel)]="settings.selection.language" (ionChange)="settings.setMyLanguage()">
          <ion-option *ngFor="let lang of settings.masterData.languages" [value]="lang.code" [selected]="lang.code == settings.selection.language">{{ lang.title }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>