<div padding>
  <div class="calendar-header">
    <ion-row class="calendar-month">
      <ion-col col-2 (click)="goToLastMonth()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-col>
      <ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col>
      <ion-col col-2 (click)="goToNextMonth()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
  <div class="calendar-body">
    <ion-grid>
      <ion-row class="calendar-weekday">
        <ion-col>Su</ion-col>
        <ion-col>Mo</ion-col>
        <ion-col>Tu</ion-col>
        <ion-col>We</ion-col>
        <ion-col>Th</ion-col>
        <ion-col>Fr</ion-col>
        <ion-col>Sa</ion-col>
      </ion-row>
      <ion-row class="calendar-date">
        <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="goToLastMonth()">{{lastDay}}</ion-col>
        <ion-col col-1 *ngFor="let day of daysInThisMonth" (click)="selectDate(day)">
          <span [ngClass]="getDayClass(day)">{{day}}</span>
        </ion-col>
        <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month" (click)="goToNextMonth()">{{nextDay}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-list>
    <ion-item>
      <p class="events-title">Events on / after<br/>{{ selectedDate | date : "MMM d, yyyy" }}
      </p>
      <button item-end ion-button clear color="secondary" (click)="addNewEvent()"><ion-icon name="svnicon-add-event"></ion-icon>
        &nbsp;New Event</button>
    </ion-item>
  </ion-list>
  <div class="selected-event">
    <ion-list *ngIf="!loadingEvents else loading">
      <ion-item *ngFor="let ev of events" (tap)="expandEvent(ev)">
        {{ev.title}}
        <p class="events-datetime">{{ev.startDate | ts2date | date2string }} - {{ev.endDate | ts2date | date2string}}</p>
        <accordion [collapsed]="ev.collapsed">
          <hr/>
          <p class="event-details">{{ ev.details }}</p>
        </accordion>
      </ion-item>
    </ion-list>
    <ng-template #loading>
      <sk-bounce1-spinner></sk-bounce1-spinner>
    </ng-template>
  </div>
</div>