calendar {
    [col-1] {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 14.285714285714286%;
        width: 14.285714285714286%;
        max-width: 14.285714285714286%;
      }
      .col {
        text-align: center;
        padding: 5px;
      }
      .last-month, .next-month {
        color: #999999;
        font-size: 90%;
      }
      .currentDate, .otherDate {
        padding: 5px;
      }
      .currentDate {
        font-weight: bold;
        color: red;
        border-radius: 30px;
      }
      .calendar-header {
        background-color: #1a732d;
        color: #FFFFFF;
      }
      .event-bullet {
        margin: 2px auto;
        height: 5px;
        width: 5px;
        background-color: green;
        border-radius: 30px;
      }
      .selected-date {
        width: 20px;
        height: 2px;
        background-color: color($colors, danger);
        color: color($colors, toolight);
        border-radius: 30px;
      }
      .unselected-date {
        border: none;
      }
      .calendar-body {
        .grid {
          padding: 0;
        }
        .col:last-child {
          border-right: none;
        }
        .calendar-weekday, .calendar-date {
          text-align: center;
          margin: 0;
        }
        .calendar-weekday {
          font-weight: bold;
          border-bottom: solid 1px #1a732d;
          background-color: #26ab56;
        }
        .calendar-date {
          border-top: solid 1px #1a732d;
          border-bottom: solid 1px #1a732d;
        }
      }
      .list-md {
        margin: 0px 0px 0px 0px;
    }

    .selected-event ion-item {
      border-left: 3px solid color($colors, light_primary);
      margin-bottom: 5px;      
    }

    // .selected-event .list-md .item-block .item-inner {
    //   border-bottom: 0px;
    // }

    // .selected-event .label-md {
    //   margin: 8px 8px 8px 0;
    // }

    .events-title {
      color: black;
      text-transform: uppercase;
      font-size: 1.0rem;
    }

    .events-datetime {
      color: color($colors, toolightdark);
      text-transform: uppercase;
      font-size: 1.0rem;
    }

    .event-details {
      color: color($colors, toolightdark);
      text-transform: capitalize;
      font-size: 1.2rem;
    }
}
