<ion-item no-lines>
    <!-- <ion-icon name="svnicon-time" color="light_primary" item-start></ion-icon> -->
    <!-- <span class="show-all-button" (tap)="toggle()">{{ showFull ? '(Show less)' : '(Show all)' }}</span> -->
    <br/>
    <p class="working-hours">

        <ion-grid class="today-grid">
            <ion-row *ngFor="let timing of todayTimings; let i = index;" [ngClass]="(i % 2 == 0) ? 'odd-row today-grid' : 'even-row today-grid'">
                <ion-col col-3 class="transperant">{{ timing.day }}</ion-col>
                <ion-col col-6 class="transperant"><span [innerHTML]="timing.timings"></span></ion-col>
                <ion-col col-3 class="transperant" [ngClass]="timing.status == 'Closed' ? 'closed' : 'open'">{{ timing.status
                    }}
                </ion-col>
            </ion-row>
        </ion-grid>
    </p>
    
    <p>
        <ion-grid>
            <ion-row *ngFor="let timing of fulltimings; let i = index;" [ngClass]="(i % 2 == 0) ? 'odd-row' : 'even-row'">
                <ion-col col-4 class="transperant">{{ timing.day }}</ion-col>
                <ion-col col-8 class="transperant"><span [innerHTML]="timing.timings"></span></ion-col>
            </ion-row>
        </ion-grid>

    </p>
</ion-item>