open-timings {
    .show-all-button {
        color: color($colors, danger);
        font-size: 1.2rem;
    }
    .odd-row {
        background-color: white;
    }
    .event-row {
        background-color: blue;
    }
    .transperant {
        background-color: transparent;
    }
    .closed {
        color: darkred;
    }
    .open {
        color: darkgreen;
    }
    .today-grid {
        background-color: lightyellow;
    }
}
