// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:      #5928B1,
  light_primary:    rgb(38, 113, 226),
  secondary:    rgb(16, 160, 59),
  darkgrn: #006400,
  danger:       rgb(238, 22, 22),
  light:        #f4f4f4,
  dark:         #222,
  lightdark:    #333,
  toolightdark:    #999,
  toolight:     #fff,
  whitesmoke:      whitesmoke,
  white-transparent: rgba(255,255,255, 0.2),
  chrome-1: #f9cc9d,
  chrome-2: #fddd9b,
  chrome-3: #c3d08b,
  chrome-4: #8cb6c0,
  lightrose: rgb(255, 240, 240),
  ioniclines: #dedede,
  golden: gold,
  moon: lightblue,


  sk-orange: #d35400,
  sk-dark: #2c3e50,
  sk-l-green: #1abc9c,
  sk-blue: #2980b9,
  sk-gray: #7f8c8d,
  sk-yellow: #ffcb65,
  sk-green: #27ae60,  
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
