<ion-header>
    <ion-navbar>
        <ion-title>New Event</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form #newEventForm="ngForm" (ngSubmit)="save()">
        <ion-list>
            <ion-item>
                <ion-label floating>Title</ion-label>
                <ion-input type="text" [(ngModel)]="event.title" name="event.title" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Details</ion-label>
                <ion-textarea [(ngModel)]="event.details" name="event.details" required></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label floating>Start Date</ion-label>
                <ion-datetime displayFormat="DD MMM YYYY hh:mm a" pickerFormat="YYYY MMM DD HH:mm" [(ngModel)]="event.startDate" name="event.startDate"
                    required></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label floating>End Date</ion-label>
                <ion-datetime displayFormat="DD MMM YYYY hh:mm a" pickerFormat="YYYY MMM DD HH:mm" [(ngModel)]="event.endDate" name="event.endDate"
                    required></ion-datetime>
            </ion-item>
        </ion-list>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons>
            <button ion-button color="dark" (click)="goBack()">
                <ion-icon name="close"></ion-icon>&nbsp; Cancel
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button color="secondary" (click)="save()" [disabled]="newEventForm.invalid">
                <ion-icon name="done-all"></ion-icon>&nbsp; Save
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>