<!-- <div *ngIf="showSplash" class="splash">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
        <br />
    </div>
</div> -->

<ion-nav [root]="rootPage" #appnav></ion-nav>

