// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.no-white-space {
  white-space: normal;
}

.back-button.show-back-button {
  display: none;
}
.popover-md .popover-content {
  width: auto;
}

.line-breaker {
  white-space: pre-line;
}

.scroll-zoom-wrapper {
  height: 100% !important;
  }

  .indicative-label {
    color: color($colors, toolightdark);
  }
  
  @import '../app/styles/toastr.scss';
  @import '../app/styles/swiper.scss';
  // @import '../app/styles/splash.scss';
  @import '../app/styles/svn.icons.scss';
  @import '../app/styles/ion.loading.scss';
  @import '../app/styles/global.tabs.toolbar.scss';
  

  body {
    font-family: sans-serif;
}

* {
    font-family: sans-serif;
}