image-picker {
    .main-view{
        background: transparent;
      }
      .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: .3;
        background-color: color($colors, dark);
      }
      .modal_content {
        position: absolute;
        top: calc(10% - (10%/2));
        left: 0;
        right: 0;
        width: 90%;
        height: 90%;
        padding: 10px;
        z-index: 100;
        margin: 0 auto;
        padding: 10px;
        color: #333;
        background: #fff;
        background: -moz-linear-gradient(top, #fff 0%, #fff 100%);
        background: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
        background: linear-gradient(to bottom, #fff 0%, #fff 100%);
        border-radius: 5px;
        box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        overflow: hidden;
      }

      .image-container {
        // min-height: 200px;
        width: 100%;
        padding-top: 100%;
        background-size: cover;
        background-position: center;            
    }

    .list-md {
      border-bottom: 1px solid color($colors, ioniclines);
    }
}
