<ion-content class="main-view">
  <div class="overlay" (click)="goBack()"></div>
  <ion-scroll class="modal_content" scrollY="true">
    <ion-toolbar>
      <ion-buttons>
        <button ion-button color="dark" (tap)="goBack()">
          <ion-icon name="close"></ion-icon>&nbsp; Cancel
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button color="primary" *ngIf="photos.length == 0" (tap)="openImagePicker()">
          <ion-icon name="done-all"></ion-icon>&nbsp; Browse
        </button>
        <button ion-button color="danger" *ngIf="photos.length > 0" (tap)="clear()">
          <ion-icon name="close"></ion-icon>&nbsp; Clear
        </button>
        <button ion-button color="primary" [disabled]="photos.length == 0" (tap)="upload()">
          <ion-icon name="done-all"></ion-icon>&nbsp; Upload
        </button>
      </ion-buttons>
    </ion-toolbar>
    <ion-list padding no-lines>
      <ion-item>
        <ion-label>
          <ion-icon name="svnicon-gallery"> </ion-icon>
        </ion-label>
        <ion-input [(ngModel)]="title" type="text" placeholder="Album Title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="svnicon-date"> </ion-icon>
        </ion-label>
        <ion-datetime displayFormat="DDDD DD MMM, YYYY" pickerFormat="YYYY MMM DD" [(ngModel)]="dttm"></ion-datetime>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-4 col-sm-4 col-lg-4 col-md-4 col-xl-4 *ngFor="let photo of photos">
          <div class="image-container" [style.background-image]="'url(' + photo + ')'"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-scroll>
</ion-content>