temple-basic-card {
    .item-md {
        border-left: 2px solid orangered;
        border-bottom: 0px;
        margin-bottom: 5px;
    }

    .item-md.item-block .item-inner {
        border-bottom-color: color($colors, ioniclines);
    }

    ion-label {
        white-space: normal;
    }

    img {
        object-fit: cover;
    }

    .item-md p {
        font-size: 1.0rem;
    }
}
