archaka-post-basic-card {
.add-title {
    background-image: linear-gradient(to right, #EEC5FF , white);
}

ion-card-content {
    margin-top: 13px;
    margin-bottom: 13px;
}
.cover-photo {
    max-height: 0px;
    object-fit: cover;
}
.col {
    padding: 0px;
}

.color-icons-row {
    max-width: 100px;
}
.temple-name {
    font-size: 12px;
}
.posted-by {
    font-size: 10px;
}
.contact-col {
    font-size: 12px;
    color: darkgreen;
    text-align: right;
}
.address-col {
    font-size: 12px;
    color: darkcyan;
}
}
