<ion-card *ngIf="post">

  <ion-item class="add-title" (tap)="showDetails(post)">
    <ion-avatar item-start>
      <!-- <img *ngIf="post.createdby | doc | async as user" [src]="user.photoURL"> -->
      <img [src]="getPhoto()">
    </ion-avatar>
    <h2 class="no-white-space temple-name">{{ post.name }}</h2>
    <!-- <p class="posted-by" *ngIf="post.createdby | doc | async as user">- {{ user.name }}</p> -->
    <!-- <p>{{ post.createdAt | ts2date | timeAgo }}</p> -->
  </ion-item>

  <!-- <img class="cover-photo" src="assets/imgs/defaults/1.png"> -->

  <ion-card-content>
    <ion-row>
      <ion-col class="address-col" (tap)="openMaps()">
        <ion-icon name="svnicon-address" item-start></ion-icon> {{ getSimpleAddress() }}
      </ion-col>
      <ion-col class="contact-col" (tap)="call(post.phone)">
        <ion-icon name="svnicon-call" item-start></ion-icon> {{ post.phone }}<br/>{{ post.person }}
      </ion-col>
    </ion-row>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-start clear small>
        <div>{{ post.salary | currency:'INR' }}</div>
      </button>
    </ion-col>
    <ion-col>
      <ion-row class="color-icons-row">
        <ng-container *ngFor="let addon of post.additionals" [ngSwitch]="addon">
          <ion-col *ngSwitchCase="'Accommodation'"><img src="assets/imgs/icons/house.svg" height="20px" /></ion-col>
          <ion-col *ngSwitchCase="'Rice'"><img src="assets/imgs/icons/rice.svg" height="20px" /></ion-col>
          <ion-col *ngSwitchCase="'LPG Gas'"><img src="assets/imgs/icons/fullgas.svg" height="20px" /></ion-col>
          <ion-col *ngSwitchCase="'Vegetables'"><img src="assets/imgs/icons/veg.svg" height="20px" /></ion-col>
          <ion-col *ngSwitchCase="'Milk'"><img src="assets/imgs/icons/milk.svg" height="20px" /></ion-col>
        </ng-container>
      </ion-row>
    </ion-col>
    <ion-col center text-center>
      <ion-note color="danger">
        {{ post.createdAt | ts2date | timeAgo }}
      </ion-note>
    </ion-col>
  </ion-row>

</ion-card>