gallery {
    .image-container {
        // min-height: 200px;
        width: 100%;
        padding-top: 100%;
        background-size: cover;
        background-position: center;            
    }

    .list-md {
        margin: 0px;
    }

    .album-title {
        color: color($colors, toolightdark);;
        text-transform: uppercase;
        font-size: 1.2rem;
    }
    .album-date {
        color: color($colors, toolightdark);
    }

    .album-title-p { width:100%; text-align:center; border-bottom: 1px solid color($colors, ioniclines); line-height:0.1em; } 
    .album-title-p span { background:#fff; padding:0 10px; }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: calc(100% - 10px);
        width: calc(100% - 10px);
        opacity: 0;
        transition: .3s ease;
        background-color: color($colors, dark);
        margin: 5px;
      }
      
    //   .image-container:hover .overlay {
    //     opacity: 0.7;
    //   }

     .show-overlay {
        opacity: 0.7;
     }
      
      ion-icon {
        color: white;
        font-size: 3.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }

      .gallery_content {
          height: 100%;
          height: calc(100% - 100px);
          width: 100%;
      }

      .gallery-scroll {
          height: 100%;
      }

      .toolbar-md {
          min-height: auto;
      }

      .bar-button-md {
          font-size: 1.2rem;
      }

      .toolbar-title-md {
          color: color($colors, light_primary) !important;
          font-size: 1.2rem !important;
          text-transform: capitalize !important;
      }
}
