<ion-toolbar>
    <ion-title>GALLERY</ion-title>
    <ion-buttons end>
        <button item-end ion-button clear color="danger" *ngIf="selection.length === 0" (click)="browse()">New Album</button>
        <button item-end ion-button clear color="dark" *ngIf="selection.length > 0" (click)="clear()">Clear</button>
        <button item-end ion-button clear color="danger" *ngIf="selection.length > 0" (click)="remove()">Delete</button>
    </ion-buttons>
</ion-toolbar>

<div class="gallery_content">
    <ion-scroll scrollY="true" class="gallery-scroll">
        <ng-container *ngIf="gallery">
            <ng-container *ngFor="let album of gallery; let ai=index">
                <ng-container *ngIf="album.photos">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-12 class="album-title">
                                <p class="album-title-p"><span>{{ album.title || 'untitled' }}</span><span class="album-date"
                                        *ngIf="album.dttm">{{ album.dttm | ts2date | date: "MMM d ''yy" }}</span></p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ng-container *ngFor="let photo of album.photos; let pi=index">
                                <ion-col col-4 col-sm-4 col-lg-4 col-md-4 col-xl-4>
                                    <div class="image-container" [style.background-image]="'url(' + (photo | imageSrcSwitch) + ')'" (tap)="zoom(photo, album.title, ai, pi)"
                                        (press)="onPress(ai, pi)">
                                        <div [ngClass]="getOverlayClass(ai, pi)">
                                            <ion-icon name="checkmark"></ion-icon>
                                        </div>
                                    </div>
                                </ion-col>
                            </ng-container>
                        </ion-row>
                    </ion-grid>
                </ng-container>
            </ng-container>
        </ng-container>
    </ion-scroll>
</div>