page-temple-profile {
    .temple-content {
        padding: 16px;
    }
    .temple-tabs {
        padding: 16px 0px 0px 0px;
    }

    .about-temple {
        text-align: justify;
        color: #666;
    }

    ion-label {
        white-space: normal;
    }

    h1 {
        margin: 2px 0;
        font-size: 1.6rem;
        font-weight: normal;
    }

    h2 {
        margin: 2px 0;
        font-size: 1.5rem;
        font-weight: normal;
    }

    .highlighter {
        background-color: lightyellow;
      }

    .working-hours {
        font-size: 1.4rem;
    }

    // ion-segment {
    //     display: block;
    //     white-space: nowrap;
    //     font-size: 0;
    //     overflow: auto;
    
    //     &::-webkit-scrollbar {
    //         width: 0;
    //         height: 0;
    //         display: none;
    //     }
    
    //     ion-segment-button.segment-button {
    //         display: inline-block!important;
    //         min-width: 100px!important;
    //         width: auto!important;
    //     }
    // }   
    
    .edit-timings-button {
        color: color($colors, danger);
        font-size: 1.2rem;
    }
}
