<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button clear icon-only (tap)="goBack()">
        <ion-icon name="ios-arrow-back" color="primary"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ temple.name }}</ion-title>
    <!-- <ion-buttons right>
      <button ion-button clear icon-only (tap)="openContextMenu($event)">
        <ion-icon name="more" color="primary"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content>
  <cover-photo-slides *ngIf="panelName == 'profile'" [slides]="slides"></cover-photo-slides>
  <div class="temple-tabs">
    <ion-segment [(ngModel)]="panelName">
      <ion-segment-button value="profile">
        <ion-icon name="svnicon-details"> </ion-icon>
      </ion-segment-button>
      <ion-segment-button value="timings">
        <ion-icon name="svnicon-clock"> </ion-icon>
      </ion-segment-button>
      <ion-segment-button value="calendar">
        <ion-icon name="svnicon-events"> </ion-icon>
      </ion-segment-button>
      <ion-segment-button value="gallery">
        <ion-icon name="svnicon-gallery1"> </ion-icon>
      </ion-segment-button>
      <!-- <ion-segment-button value="reviews">
        <ion-icon name="svnicon-review"> </ion-icon>
      </ion-segment-button> -->
      <!-- <ion-segment-button value="map">
        <ion-icon name="svnicon-googlemaps"> </ion-icon>
      </ion-segment-button> -->
    </ion-segment>
  </div>

  <ng-container [ngSwitch]="panelName">
    <ng-container *ngSwitchCase="'profile'">
      <div class="temple-content">
        <p class="about-temple line-breaker">{{ temple.description }}</p>
        <hr/>
        <ion-item no-lines (tap)="openMaps()">
          <ion-icon name="svnicon-address" color="light_primary" item-start></ion-icon>
          <h2>Address</h2>
          <p>{{ getPostOfficeDetails() }}</p>
        </ion-item>
        <hr/>
      </div>
      <owner [post]="temple" [panel]="'ETD'"></owner>
    </ng-container>
    <ng-container *ngSwitchCase="'timings'">
      <div padding>
        <br/>
        <h2>Temple Timings <span class="edit-timings-button" (tap)="openEditTimings()">{{ temple.timings ? '(edit)' : '(set)'
            }}
          </span></h2>
        <open-timings *ngIf="temple.timings; else timingsNotAvailable" [title]="'Temple Timings'" [timings]="temple.timings"></open-timings>
        <ng-template #timingsNotAvailable>
          <p class="indicative-label">Not available...</p>
        </ng-template>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'calendar'">
      <calendar [parent]="temple"></calendar>
    </ng-container>
    <ng-container *ngSwitchCase="'gallery'">
      <gallery [parent]="temple"></gallery>
    </ng-container>
    <ng-container *ngSwitchCase="'reviews'">
    </ng-container>
    <!-- <ng-container *ngSwitchCase="'map'">
      <google-maps [latitude]="13.741967" [longitude]="79.339159" [title]="temple.name" [address]="getMapsAddressDetails()"></google-maps>
    </ng-container> -->
  </ng-container>
</ion-content>