page-phone-login {
.login-content {
    padding: 32px;
}
.item-md.item-block .item-inner {
    border: 0px;
}
.list-md .item-block .item-inner {
    border: 0px;
}
.phone-input {
    border-bottom: 1px solid #dedede;
}
input {
    letter-spacing: 0.5rem;
}
// .grecaptcha-badge {
//     display: none;
//   }
.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.item-input-has-focus .item-inner {
    box-shadow: 0 0 0 0;
    -webkit-box-shadow:  0 0 0 0;
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    box-shadow: 0 0 0 0;
    -webkit-box-shadow:  0 0 0 0;
}
}
