<ion-header>

  <ion-navbar>
    <button ion-button clear icon-only (tap)="goBack()">
      <ion-icon name="md-arrow-back" color="primary"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list class="login-content" *ngIf="!windowRef.confirmationResult">
    <ion-item>
      <ion-label>
        Phone Number
      </ion-label>
    </ion-item>
    <ion-item class="phone-input">
      <ion-label>
        + 91
      </ion-label>
      <ion-input type="number" [(ngModel)]="phoneNumber"></ion-input>
    </ion-item>
    <ion-item class="fab-button">
      <button ion-button clear (tap)="sendOtp()" [disabled]="!phoneNumber || phoneNumber.length != 10" item-right class="smallbuttontext ">NEXT</button>
    </ion-item>
  </ion-list>
  <ion-list class="login-content" *ngIf="windowRef.confirmationResult">
    <ion-item>
      <ion-label>
        Please check your SMS...
      </ion-label>
    </ion-item>
    <ion-item class="phone-input">
      <ion-label>
        OTP
      </ion-label>
      <ion-input type="number" [(ngModel)]="otp"></ion-input>
    </ion-item>
    <ion-item class="fab-button">
      <button ion-button clear (tap)="verifyCode()" [disabled]="!otp || otp.length != 6" item-right class="smallbuttontext ">LOGIN</button>
    </ion-item>
  </ion-list>
</ion-content>

<div #captchaDiv></div>