google-maps {
    #map {
        height: 100% !important;
        width: 100% !important;
    }
      
    .image-container {
        // min-height: 200px;
        width: 100%;
        padding-top: 100%;
        background-size: cover;
        background-position: center;            
    }

    .div-info {
        max-width: 200px;
    }
}
