<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button clear icon-only (tap)="goBack()">
        <ion-icon name="ios-arrow-back" color="primary"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Update Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="userProfile">
    <ion-item>
      <ion-label class="lbl">Name</ion-label>
      <ion-input type="text" [(ngModel)]="userProfile.name"></ion-input>      
    </ion-item>
    <ion-item>
      <ion-label class="lbl">Gender</ion-label>
      <ion-select [(ngModel)]="userProfile.gender">
        <ion-option value="Male">Male</ion-option>
        <ion-option value="Female">Female</ion-option>
        <ion-option value="UnKnown">UnKnown</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label class="lbl">DoB</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="userProfile.dob"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label class="lbl">Gothram</ion-label>
      <ion-input type="text" [(ngModel)]="userProfile.gothram"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="lbl">Surname</ion-label>
      <ion-input type="text" [(ngModel)]="userProfile.surname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="lbl">Email</ion-label>
      <ion-input type="text" [(ngModel)]="userProfile.email"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label>Mobile</ion-label>
      <ion-input type="text" [(ngModel)]="userProfile.phoneNumber" [readonly]="'true'"></ion-input>
    </ion-item> -->
    <br/>
    <address-control [(ngModel)]="userProfile.address"></address-control>
    <!-- <ion-input type="hidden" [(ngModel)]="userProfile.photoURL" [readonly]="'true'"></ion-input> -->
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <button ion-button color="dark" (tap)="goBack()">
        <ion-icon name="close"></ion-icon>&nbsp; Cancel
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button color="primary" (tap)="saveProfile()">
        <ion-icon name="done-all"></ion-icon>&nbsp; Save
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>