page-edit-profile {
    .swiper-slide {
        height: auto;
        align-items: flex-start;
    }
        
    .item-md ion-icon[item-left], .item-md ion-icon[item-right], .item-md ion-icon[item-start], .item-md ion-icon[item-end] {
        margin-top: 2px;
    }

    .label-md{
        margin: 0px;
    }

    .back-button.show-back-button {
        display: none;
    }

    .item-divider-md {
        border-bottom: 0px;
    }
    .lbl {
        min-width: 80px;
    }
}
